body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #C8C6C6 !important;
}
header{
  background-color: black;
  padding-bottom: 50px;
  margin: 0%;
}
.website-name{
  text-align: center;
  color: white;
  padding: 10px;
}
.header-title{
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  color: #387db9;
  padding: 10px;
  margin-left: 250px;
  margin-right: 250px;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  margin-bottom: 40px;
  
}
.search-fields {
  border: none;
  border-radius: 7px;
  padding: 7px;
  outline: none;
  border: 1px solid rgb(3, 118, 211);
  box-shadow: 4px 4px 7px gray;
}
.search-fields:hover {
  outline: none;
  /* border: none; */
  background-color: rgba(190, 190, 190, 0.753);
  transition: 0.6s;
}
.search-box {
  
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  /* margin-left: 20px; */
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: white;
  height: 530px;
  margin: 10px;
  border-radius: 10px;
}
.single-product:hover {
  box-shadow: 4px 4px 10px rgb(88, 87, 87);
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
#addToCart-btn{
  background-image: linear-gradient(to right, green , rgb(70, 221, 70)) ;
  color: white;
}
#details-btn{
  background-image: linear-gradient(to right, #BB2D3B , #ec5665 );
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
